$minimal_pageHolderWidth: "1024px";

/*######
## Forms
#########*/
$minimal_formBorder: "1px solid #999999;";
$minimal_formPadding: "10px";
$minimal_formRadius: "5px";
$minimal_formBackground: "linear-gradient( top, #F4F4F4, #fff)";

/*############
## Form Legend
###############*/
$minimal_legendSize: "16px";
$minimal_legendFontWeight: "normal";
$minimal_legendBorder: "1px solid #505245";
$minimal_legendBC: "#fff";
$minimal_legendRadius: "3px";
$minimal_legendShadow: "0px 0px 3px 1px rgba(0, 0, 0, 0.2)";

/*############
## Description
###############*/
$minimal_descFontiSize: "12px";
$minimal_descFontWeight: "normal";
$minimal_descFontStyle: "italic";
$minimal_descMargin: "15px 0";
$minimal_descBorder: "1px solid #E9E9E9";
$minimal_descBC: "#EBEBEB";
$minimal_descPadding: "5px";
$minimal_descColor: "#494949";

/*#################
## Input and select
####################*/
$minimal_formItemsBorder: "1px solid #BCBCBC";

/*######
## Label
#########*/
$minimal_labelFontSize: 14px;