.page-holder {
	margin: 0 auto;
	max-width: $minimal_pageHolderWidth;
}

code {
	display: block;
}

// vertical align element depend on perent height
.valign {
  @extend %verticalcenter;
}


// hide class for hidding element
.hide {
  display: none;
}