.page-holder {
	margin: 0 auto;
	max-width: $minimal_pageHolderWidth;
}

code {
	display: block;
}

// vertical align element depend on perent height
.valign {
  @extend %verticalcenter;
}

// grayscale image
//.grayscale {
//  filter: url(filters.svg#grayscale);
//  filter: gray;
//  -webkit-filter: grayscale(1);
//}