form {

	textarea,
	select,
	input[type="text"],
	input[type="password"] {
		-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
		margin: 5px 0;
		padding: 5px;
  }

	input[type="submit"] {
  	cursor: pointer;	
  }

	label {
		display: inline-block;
		line-height: normal;
		margin-bottom: 10px;

		input[type="text"] {
			margin: 0;
		}
	}

	fieldset {
		border: 1px solid #D8D8D8;
		margin-bottom: 20px;

		legend {
			padding: 4px 7px;
			text-transform: capitalize;
		}
	}

	.form-item {

		&.inline {
			display: inline-block;
			vertical-align: top;
		}
	}

	.inline-wrapper {
		text-align: center;
		
		* { 
			text-align: left; 
		}
	}
}