html.no-js {
	
	body:before {
		color: #C40005;
		content: "javascript disabled. Please enable javascript in your browser.";
		display: block;
		text-align: center;
	}
}

html {
	height: 100%;
	min-width: 320px;
}

body {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	height: 100%;
	margin: 0;
	overflow-y: auto; 
}