/*################
## Table reset api
## Last refactor: 21.05.14
##########################*/
table {
	border-collapse: collapse;

	th,
	td {
		padding: 5px 7px;
	}

	td {
		vertical-align: top;
	}
}//table